.warning-box {
    background-color: #ffcccc; /* Light red color */
    color: #990000; /* Dark red text color */
    border: 1px solid #990000; /* Dark red border */
    border-radius: 5px; /* Rounded corners */
    padding: 10px; /* Padding around the content */
    width: max-content;
  }
  
  .header-menu {
      display: flex;
      justify-content: flex-start;
      gap: 2em;
  }