<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <!-- Product -->
  <servlet>
    <servlet-name>ListEvaluationsServlet</servlet-name>
    <servlet-class>product.ListEvaluationsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListEvaluationsServlet</servlet-name>
    <url-pattern>/Evaluations</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>PicturesServlet</servlet-name>
    <servlet-class>product.PicturesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PicturesServlet</servlet-name>
    <url-pattern>/Pictures</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>PictureInfoServlet</servlet-name>
    <servlet-class>product.PictureInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PictureInfoServlet</servlet-name>
    <url-pattern>/PictureInfo</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>RegisterPictureServlet</servlet-name>
    <servlet-class>product.RegisterPictureServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterPictureServlet</servlet-name>
    <url-pattern>/RegisterPicture</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>PictureServlet</servlet-name>
    <servlet-class>product.PictureServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PictureServlet</servlet-name>
    <url-pattern>/Picture</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ProductCountServlet</servlet-name>
    <servlet-class>product.ProductCountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductCountServlet</servlet-name>
    <url-pattern>/ProductCount</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ListProductsServlet</servlet-name>
    <servlet-class>product.ListProductsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListProductsServlet</servlet-name>
    <url-pattern>/Products</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ListProductsAdminServlet</servlet-name>
    <servlet-class>product.ListProductsAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListProductsAdminServlet</servlet-name>
    <url-pattern>/ProductsEdit</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>UpdateProductServlet</servlet-name>
    <servlet-class>product.UpdateProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProductServlet</servlet-name>
    <url-pattern>/ProductUpdate</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>RemoveProductServlet</servlet-name>
    <servlet-class>product.RemoveProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveProductServlet</servlet-name>
    <url-pattern>/ProductRemove</url-pattern>
  </servlet-mapping>

  <!-- Category -->
  <servlet>
    <servlet-name>CategoryServlet</servlet-name>
    <servlet-class>category.CategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryServlet</servlet-name>
    <url-pattern>/Categories</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>RegisterCategoryServlet</servlet-name>
    <servlet-class>category.RegisterCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterCategoryServlet</servlet-name>
    <url-pattern>/CategoryUpdate</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>RemoveCategoryServlet</servlet-name>
    <servlet-class>category.RemoveCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveCategoryServlet</servlet-name>
    <url-pattern>/CategoryRemove</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>RemoveSubcategoryServlet</servlet-name>
    <servlet-class>category.RemoveSubcategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveSubcategoryServlet</servlet-name>
    <url-pattern>/SubcategoryRemove</url-pattern>
  </servlet-mapping>

  <!-- User -->
  <servlet>
    <servlet-name>SignUpServlet</servlet-name>
    <servlet-class>user.SignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpServlet</servlet-name>
    <url-pattern>/SignUp</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>user.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/Update</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>user.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/Delete</url-pattern>
  </servlet-mapping>

  <servlet>
        <servlet-name>LoginServlet</servlet-name>
      <servlet-class>user.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>LoginServlet</servlet-name>
      <url-pattern>/Login</url-pattern>
  </servlet-mapping>

  <servlet>
      <servlet-name>LogoutServlet</servlet-name>
      <servlet-class>user.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/SignOut</url-pattern>
  </servlet-mapping>

  <!-- Address -->
  
  <servlet>
        <servlet-name>CountryInfoServlet</servlet-name>
      <servlet-class>user.CountryInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>CountryInfoServlet</servlet-name>
      <url-pattern>/CountryInfo</url-pattern>
  </servlet-mapping>

  <!-- Session -->

  <session-config>
      <session-timeout>
          30
      </session-timeout>
  </session-config>
</web-app>
